


div.back {
    align-content: center;
    position: fixed;
  top: 20px;

   content:url(".././images/persondel.jpg");
}

div.img {
    position: absolute;
   
     content:url(".././images/persondel.jpg");
}



div.img2 {
    position: absolute;
   
     content:url(".././images/A422roomfullview.jpg");
}



div.img3 {
    position: absolute;
   
     content:url(".././images/nwfinM.jpg");
}



div.img4 {
    position: absolute;
  
     content:url(".././images/nwcityresourcescityp1.jpg");
}



div.img5 {
    position: absolute;
 
     content:url(".././images/MidtermRoom.jpg");
}



div.img6 {
    position: absolute;
    
     content:url(".././images/DELNWnoting.jpg");
}

/*
div.img:hover {
    transform: scale(4.5);
}

div.img2:hover {
    transform: scale(4.5);
}

div.img3:hover {
    transform: scale(4.5);
}

div.img4:hover {
    transform: scale(4.5);
}

div.img5:hover {
    transform: scale(4.5);
}

div.img6:hover {
    transform: scale(4.5);
}

*/

