
h1{
    background-color: black;
    color: aliceblue;
    
}

h2 {
    display: inline-block;
  font-size: 20px;
    word-spacing: 20px;
    background-color: black;
    color: aliceblue;
}
body {
  

    background-color: lightgoldenrodyellow;
    top: 50px ;
}

div.mypic {
    align-content: center;
    position: fixed;
    left: 300px;
    bottom: 50px;
 width: 50%;

   content:url(".././images/picof.jpg");
}

p {
    color: saddlebrown;
    
}

