div.cover {
    align-content: center;
    position: fixed;
  top: 20px;

   content:url(".././images/W11Abstract1pic.jpg");
}

div.vidshot {
    position: absolute;
   opacity: 0.5;
  border-radius: 8px;
  padding: 5px;
  width: 550px;
    left: 50px;
    top:50px;
    display: inline-block;

     content:url(".././images/art421delmaybev1.jpg");
}

div.vidshot:hover {
    
    opacity:1;
    
}

div.vidshot2 {
    position: absolute;
   opacity: 0.5;
  border-radius: 8px;
  padding: 5px;
  width: 550px;
    left: 50px;
    top:400px;
    display: inline-block;

     content:url(".././images/Art421sceneunfv2.jpg");
}

div.vidshot2:hover {
    
    opacity:1;
    
}

div.Aboutme2{
    position: relative;
    animation-name: drive;
    animation-duration: 60s;
}

@keyframes drive {
  from { transform: translateX(0);}
  to { transform: translateX(1000px);}
}

div.text2{
   position: absolute;
 left: 650px;
    top: -200px;
opacity: 0.5;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
    
}
